<DIV class="section" id="skill">
    <DIV class="container">
      <DIV class="h4 text-center mb-4 title">Skills</DIV>
      <DIV class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <DIV class="card-body">
          <DIV class="row">
            <DIV class="col-md-6">
              <DIV class="progress-container progress-primary">
                <span class="progress-badge">Java</span>
                <DIV class="progress">
                  <DIV class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 90%;"></DIV>
                  <span class="progress-value">90%</span>
                </DIV>
              </DIV>
            </DIV>
            <DIV class="col-md-6">
              <DIV class="progress-container progress-primary">
                <span class="progress-badge">Python</span>
                <DIV class="progress">
                  <DIV class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 60%;"></DIV>
                  <span class="progress-value">60%</span>
                </DIV>
              </DIV>
            </DIV>
          </DIV>
          <DIV class="row">
            <DIV class="col-md-6">
              <DIV class="progress-container progress-primary">
                <span class="progress-badge">Spring Framework</span>
                <DIV class="progress">
                  <DIV class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 70%;"></DIV>
                  <span class="progress-value">70%</span>
                </DIV>
              </DIV>
            </DIV>
            <DIV class="col-md-6">
              <DIV class="progress-container progress-primary">
                <span class="progress-badge">Angular8</span>
                <DIV class="progress">
                  <DIV class="progress-bar progress-bar-striped progress-bar-animated" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 60%;"></DIV>
                  <span class="progress-value">60%</span>
                </DIV>
              </DIV>
            </DIV>
          </DIV>
          <DIV class="row">
            <DIV class="col-md-6">
              <DIV class="progress-container progress-primary">
                <span class="progress-badge">SQL, MYSQL AND MongoDB</span>
                <DIV class="progress">
                  <DIV class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 75%;"></DIV>
                  <span class="progress-value">75%</span>
                </DIV>
              </DIV>
            </DIV>
            <DIV class="col-md-6">
              <DIV class="progress-container progress-primary">
                <span class="progress-badge">HTML,CSS,JS</span>
                <DIV class="progress">
                  <DIV class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                    data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                    style="width: 70%;"></DIV>
                  <span class="progress-value">70%</span>
                </DIV>
              </DIV>
            </DIV>
          </DIV>
        </DIV>
      </DIV>
    </DIV>
  </DIV>
