<DIV class="section" id="contact">
    <DIV class="cc-contact-information" style="background-image: url('assets/images/contact.jpg');">
      <DIV class="container">
        <DIV class="cc-contact">
          <DIV class="row">
            <DIV class="col-md-9">
              <DIV class="card mb-0" data-aos="zoom-in">
                <DIV class="h4 text-center title">Contact Me</DIV>
                <DIV class="row">
                  <DIV class="col-md-6">
                    <DIV class="card-body">
                      <form name="form" (ngSubmit)="f.form.valid ; f.resetForm()" #f="ngForm" novalidate>
                        <DIV class="p pb-3">
                          <strong>Feel free to contact me </strong>
                        </DIV>
                        <DIV class="row mb-3">
                          <DIV class="col">
                            <DIV class="input-group">
                              <input class="form-control" type="text" name="name" #name placeholder="Name"
                                [(ngModel)]="model.name" #name="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                            </DIV>
                          </DIV>
                        </DIV>
                        <DIV class="row mb-3">
                          <DIV class="col">
                            <DIV class="input-container">
                              <input class="form-control" type="text" name="subject" #subject placeholder="Subject"
                                [(ngModel)]="model.subject" #subject="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }" required />
                            </DIV>
                          </DIV>
                        </DIV>
                        <DIV class="row mb-3">
                          <DIV class="col">
                            <DIV class="input-group">
                              <input class="form-control" type="text" name="email"  #email placeholder="E-mail"
                                [(ngModel)]="model.email" #email="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required />
                            </DIV>
                          </DIV>
                        </DIV>
                        <DIV class="row mb-3">
                          <DIV class="col">
                            <DIV class="form-group">
                              <textarea class="form-control" name="message" #message placeholder="Your Message"
                                [(ngModel)]="model.message" #message="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" required></textarea>
                            </DIV>
                          </DIV>
                        </DIV>
                        <DIV class="row">
                          <DIV class="col">
                            <button class="btn btn-primary" type="submit" (click)="onSubmit(name.value, subject.value, email.value, message.value)"> Send</button>
                          </DIV>
                        </DIV>
                      </form>
                    </DIV>
                  </DIV>
                  <DIV class="col-md-6">
                    <DIV class="card-body">
                        <p class="mb-0">
                            <strong>Phone</strong>
                        </p>
                        <p class="pb-2">+91 9891062743</p>
                        <p class="mb-0">
                            <strong>Email</strong>
                        </p>
                        <p>amantiwari8861@gmail.com</p>
                    </DIV>
                </DIV>
                </DIV>
              </DIV>
            </DIV>
          </DIV>
        </DIV>
      </DIV>
    </DIV>
  </DIV>
  <ng-snotify class="material"></ng-snotify>


