<DIV class="section" id="about">
    <DIV class="container">
        <DIV class="card" data-aos="fade-up" data-aos-offset="10">
            <DIV class="row">
                <DIV class="col-lg-6 col-md-12">
                    <DIV class="card-body">
                        <DIV class="h4 mt-0 title">About Me</DIV>
                            <p align="justify">From a young age, I’ve always had a sense of motivation and passion driving me forward. Whether it’s exploring unique opportunities, learning additional skills, or meeting new people, I bring these values to every experience throughout my life on a personal and professional level.</p>
                            <p align="justify">Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.</p>
                            <p align="justify">To learn more about me, keep exploring my site or reach out directly.</p>
                    </DIV>
                </DIV>    
                <DIV class="col-lg-6 col-md-12">       
                    <DIV class="card-body">
                        <DIV class="h4 mt-0 title">Basic Information</DIV>
                        <DIV class="row">
                            <DIV class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </DIV>
                            <DIV class="col-sm-8">April 22, 1999</DIV>
                        </DIV>
                        <DIV class="row mt-4">
                            <DIV class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </DIV>
                            <DIV class="col-sm-8">amantiwari8861@gmail</DIV>
                        </DIV>
                        <DIV class="row mt-4">
                            <DIV class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </DIV>
                            <DIV class="col-sm-8">9891062743</DIV>
                        </DIV>
                        <DIV class="row mt-4">
                            <DIV class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </DIV>
                            <DIV class="col-sm-8"> Gazipur village delhi-110096</DIV>
                        </DIV>
                        <DIV class="row mt-4">
                            <DIV class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </DIV>
                            <DIV class="col-sm-8">English, Hindi</DIV>
                        </DIV>
                     </DIV>
                </DIV>
            </DIV>
        </DIV>
    </DIV>
</DIV>

